<p id="notice"></p>

<div class="text-success">
  <%= flash[:notice] %>
</div>

<p>
<% if @book.errors.any? %>
  <%= @book.errors.count %>blank error
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <strong>Title: </strong>
  <%= @book.title %>
</p>
<p>
  <strong>Body: </stong>
  <%= @book.body %>
</p>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", books_path %>